{{! template-lint-disable no-bare-strings }}

<table class="ember-feature-controls-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model as |flag|}}
      <tr>
        <td>{{flag.key}}</td>
        <td>{{flag.description}}</td>
        <td>
          <label class="ember-feature-controls-label" data-test-label-flag={{flag.key}}>
            <Input
              @type="checkbox"
              @checked={{flag.isEnabled}}
              {{on "change" (fn this.doToggleFeature flag.key flag.isEnabled)}}
              data-test-checkbox-flag={{flag.key}}
            />
            {{#if (not-eq flag.isEnabled flag.default)}}
              <span
                class="ember-feature-controls-warning"
                title="The internal default value of this flag is being overriden with this one"
              >
                ❗
              </span>
            {{/if}}
          </label>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{#if this.showRefresh}}
  <button
    type="button"
    title="Refresh this table in case its state has been changed elsewhere"
    class="ember-feature-controls-refresh ember-feature-controls-button"
    {{on "click" this.refresh}}
    data-test-button-refresh
  >
    Refresh table
  </button>
{{/if}}

{{#if this.showReset}}
  <button
    type="button"
    title="Reset table to internal default values"
    class="ember-feature-controls-reset ember-feature-controls-button"
    {{on "click" this.reset}}
    data-test-button-reset
  >
    Reset to default
  </button>
{{/if}}