<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |flag|}}
      <tr>
        <td>{{flag.key}}</td>
        <td>{{flag.description}}</td>
        <td>
          <label data-test-label-flag={{flag.key}}>
            {{input type='checkbox' checked=flag.isEnabled change=(action 'doToggleFeature' flag.key flag.isEnabled) data-test-checkbox-flag=flag.key}}
            {{#if (not-eq flag.isEnabled flag.default)}}
              <span title="This flag was overriden">❗</span>
            {{/if}}
          </label>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{#if showRefresh}}
  <button {{action 'refresh'}} data-test-button-refresh>Refresh</button>
{{/if}}

{{#if showReset}}
  <button {{action 'reset'}} data-test-button-reset>Reset</button>
{{/if}}
